.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Trazo, corte y confección de la falda clásica
            h1.curso-titulo Confección de la falda clásica según normas de calidad

            .brand-line-primary

            p.curso-descripcion La confección de la falda clásica es el último paso en el desarrollo del proceso de producción de la prenda. Es determinante realizar las acciones de confección, cumpliendo con los requerimientos de calidad y siguiendo las indicaciones del paso a paso del proceso, para lograr un resultado óptimo, con una prenda que cumpla con condiciones de calidad.  

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")