h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 290601078-04
        p.mb-0 Confeccionar falda clásica de acuerdo al proceso de costura, normas de calidad y requerimientos del cliente.