h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem(' ', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Tipos de costuras', 'main.html#page/1-tema/')
                    +navTemaItem('2', 'Preparación de las pieza', 'main.html#page/2-tema/')
                    +navTemaItem('3', 'Ensamble', 'main.html#page/3-tema/')
                    +navTemaItem('4', 'Terminación o acabado', 'main.html#page/4-tema/')
                    +navTemaItem('5', 'Normas de calidad en la confección', 'main.html#page/5-tema/')
                    +navTemaItem('6', 'Actividad didáctica', 'main.html#page/didactica/')