include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container      
    .header-ecored
        h1 
            span.number 1. 
            span Tipos de costura
    
    p Se conocen gran variedad de costuras, las cuales dependen de la forma en que se realiza actividad y se pueden realizar manualmente o a máquina.   De igual forma, los tipos de costuras aplican al tipo de material o el diseño de la prenda que se quiere elaborar 

    p    
        b A continuación se relaciona el concepto de costura como una actividad prioritaria en la confección y los tipos de costura que pueden aplicar a la falda clásica objeto de estudio. 

    .header-ecored
        h2
            span 1.1 Concepto de Costura 

    p 
        strong La costura permite unir dos o varias telas, utilizando como herramienta una aguja 
        | que asegura las piezas mediante el hilo que lleva a través de ella. También se puede definir como el aumento de tolerancia para la costura,  que corresponde a la parte de la tela que excede la medida definida en el patrón, para permitir la costura en el proceso de ensamble en máquina de coser.
    
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/1-tema/MF4-AUD-IMA-01.svg').img-fluid

    p 
        strong A través de la historia, la costura ha formado parte de las actividades del hombre,
        | partiendo de las necesidades de protección del cuerpo y otros elementos que le brindan bienestar como unir pieles (época paleolítica), lona u otros materiales. 
    
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/1-tema/MF4-AUD-IMA-02.svg').img-fluid

    p 
        strong Muchas de las costuras en el área industrial se elaboran con máquinas, 
        | las cuales han ido mejorando con las nuevas tecnologías, facilitando los procesos en las empresas permitiendo una alta productividad. De manera personal  también se cosen prendas, las cuales se denominan costuras caseras, que permiten arreglar, reparar y confeccionar prendas u otros elementos, como ropa de cama, cortinas, manteles, etc. 
    
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/1-tema/MF4-AUD-IMA-03.svg').img-fluid

    .header-ecored
        h2
            span 1.2 Tipos de costuras 
    
    .row.justify-content-center.my-5
                .col-12.col-md-10
                    img(src='assets/images/pages/1-tema/MF4-AUD-IMA-04.svg').img-fluid
    
    section.card-border-bottom
    
        .card
            .card-body
                p.card-text Para estudiar las tipologías de costuras, se pueden tener en cuenta los siguientes tipos de acuerdo con la #[strong AnexoNorma de Calidad ISO 4915, en la Tabla, así:]

                section.my-3.ml-4

                    a(href="media/1-tema/Stitch-Type-Matrix-Spanish.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. #[i ISO Stitch Terminology]


