include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container
   
    .header-ecored
        h1 
            span.number 2. 
            span Preparación de las piezas

    p Las piezas principales como el delantero y el posterior de la falda, requieren de una intervención previa al ensamble, para ello se deben tener en cuenta el siguiente procedimiento:
    
    #Delantero
    .header-ecored
        h3 
            span 2.1 Delantero

    .header-ecored
        p 
            span.number A 
            span Teniendo en cuenta la marcación que se le dio al patrón para realizar las pinzas,  se debe cerrar doblando la tela por los piquetes (Ver figura 1). Para verificar este paso, puede también consultar el material de formación de la actividad 3. 

    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/MF4-AUD-IMA-01-05.svg').img-fluid

    .header-ecored
        p 
            span.number B 
            span Luego se debe doblar la tela por la marcación de la línea de pinza y se debe pasar la costura, haciendo remate al inicio y al final de la costura, como se ve en la Figura.


    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/delatero.jpg').img-fluid

    .header-ecored
        p 
            span.number C
            span Antes de seguir con los demás pasos, se deben filetear los bordes de las piezas para evitar que la tela se dañe por los bordes.



    .header-ecored
        p 
            span.number D 
            span Después de cerrar las pinzas, es necesario planchar, descargando la tela hacia el centro frente. 

    p Fuente imágenes
    p  #[em http://creacionesmarthacastillo.blogspot.com/2015/05/falda-con-tablas-en-el-corte.html]


    #Posterior
    .header-ecored
        h3 
            span 2.2 Posterior

    p Las actividades de preparación de la pieza que se deben realizar para proceder al ensamble en la parte posterior de la falda son: 


    .header-ecored
        p 
            span.number A 
            span #[b Cerrar pinzas]<br> Para el cierre de las pinzas de la falda clásica se siguen estos pasos: 

        p 
            span.icon >
            span La marcación de la pinza en la parte posterior es más larga que la del delantero y  teniendo en cuenta la marcación que se dio al patrón para realizar las pinzas, se debe cerrar doblando la tela por los piquetes.
        
            
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/MF4-AUD-IMA-05.svg').img-fluid

    <br>
    .header-ecored
        p 
            span.icon >
            span Al igual que en el delantero, se debe doblar la tela por la marcación de la línea de pinza y se debe pasar la costura haciendo remate al inicio y al final de la misma, como se observa en la Figura.
        
            
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/posterior.jpg').img-fluid

    p Fuente imágenes
    p  #[em http://creacionesmarthacastillo.blogspot.com/2015/05/falda-con-tablas-en-el-corte.html]

    .header-ecored
        p 
            span.number B 
            span #[b Montar cremallera]<br> Para montar la cremallera en la parte posterior de la falda, se siguen estos pasos: 

    .row.my-5
        .col
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')





