include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container
   
    .header-ecored
        h1 
            span.number 2. 
            span Preparación de las piezas

    p Las piezas principales como el delantero y el posterior de la falda, requieren de una intervención previa al ensamble, para ello se deben tener en cuenta el siguiente procedimiento:
    
    #Delantero
    .header-ecored
        h3 
            span 2.1 Delantero

    .header-ecored
        p 
            span.number #[b A] 
            span Teniendo en cuenta la marcación que se le dio al patrón para realizar las pinzas,  se debe cerrar doblando la tela por los piquetes (Ver figura 1). Para verificar este paso, puede también consultar el material de formación de la actividad 3. 

    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/MF4-AUD-IMA-01-05.svg').img-fluid

    .header-ecored
        p 
            span.number #[b B] 
            span Luego se debe doblar la tela por la marcación de la línea de pinza y se debe pasar la costura, haciendo remate al inicio y al final de la costura, como se ve en la Figura.


    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/delatero.jpg').img-fluid

    .header-ecored
        p 
            span.number #[b C] 
            span Antes de seguir con los demás pasos, se deben filetear los bordes de las piezas para evitar que la tela se dañe por los bordes.



    .header-ecored
        p 
            span.number #[b D]  
            span Después de cerrar las pinzas, es necesario planchar, descargando la tela hacia el centro frente. 

    #Posterior
    .header-ecored
        h3 
            span 2.2 Posterior

    p Las actividades de preparación de la pieza que se deben realizar para proceder al ensamble en la parte posterior de la falda son: 


    .header-ecored
        p 
            span.number #[b A]  
            span #[b Cerrar pinzas]<br> Para el cierre de las pinzas de la falda clásica se siguen estos pasos: 

        p 
            span.icon.fa.fa-angle-right.fa-2x.text-center.mr-2.ml-3
            span.ml-4 La marcación de la pinza en la parte posterior es más larga que la del delantero y  teniendo en cuenta la marcación que se dio al patrón para realizar las pinzas, se debe cerrar doblando la tela por los piquetes.
        
            
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/MF4-AUD-IMA-05.svg').img-fluid

    <br>
    .header-ecored
        p 
            span.icon.fa.fa-angle-right.fa-2x.text-center.mr-0
            span.ml-4 Al igual que en el delantero, se debe doblar la tela por la marcación de la línea de pinza y se debe pasar la costura haciendo remate al inicio y al final de la misma, como se observa en la Figura.
        
            
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/posterior.jpg').img-fluid

    .header-ecored
        p 
            span.number #[b B]  
            span #[b Montar cremallera]<br> Para montar la cremallera en la parte posterior de la falda, se siguen estos pasos: 

        p 
            span.icon.fa.fa-angle-right.fa-2x.text-center.mr-0
            span.ml-4 Unir el centro atrás, desde abajo hacia arriba, dejando la abertura para poner la cremallera de 15 o 18cm, según sea la talla.  

    .header-ecored
        p 
            span.icon.fa.fa-angle-right.fa-2x.text-center.mr-3.ml-3
            span.ml-4 Para ello es necesario  contar con un pie de cremallera en la máquina. Para iniciar, se debe colocar la cremallera con los dientes hacia abajo sobre las dos piezas del posterior, ubicándola en el centro y fijar antes de coser, con la ayuda de los alfileres, con el fin de que no se corra la cremallera de la tela. Ver Figura.

    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/cremallera1.jpg').img-fluid
    
    .header-ecored
        p 
            span.icon.fa.fa-angle-right.fa-2x.text-center.mr-3.ml-3
            span.ml-4 Verificar por el derecho de la falda, que los dientes de la cremallera estén en el centro y que estén cubiertos por los dos lados de la tela. Ver Figura. 
    
    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/cremallera2.jpg').img-fluid
    
    .header-ecored
        p 
            span.icon.fa.fa-angle-right.fa-2x.text-center.mr-3.ml-3
            span.ml-4 Pespuntar por el derecho de la falda, fijando la cremallera, cosiendo a 0.5 cm hacia cado lado, formando una  caja. Ver figura

    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/2-tema/cremallera3.jpg').img-fluid

    .header-ecored
        h3 
            span 2.3 Pretina 


        p Después de fijar el fusionado de la pretina, se debe doblar con la plancha y guardar 1 cm de la costura hacia adentro, como se ve en la Figura. 

        .row.justify-content-center.align-items-center.my-5
            img(src='assets/images/pages/2-tema/pretina1.jpg').img-fluid

        p En la preparación de la pretina para ensamble, se deben cerrar las puntas cosiendo a 1 cm de ancho, manteniendo el doblez dado en el paso anterior y por último se deben picar las esquinas para poder voltear la pretina por el derecho y que no queden grumos de tela por dentro. Ver Figura. 


        .row.justify-content-center.align-items-center.my-5
            img(src='assets/images/pages/2-tema/pretina2.jpg').img-fluid







