include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container      
    .header-ecored
        h1 
            span.number 3. 
            span Ensamble

    p En este paso se unen finalmente todas las piezas y se hacen las debidas terminaciones. Para ello, se pueden seguir los pasos descritos a continuaci칩n. 

    .header-ecored
        h2 
            span 3.1 Cierre de costados

    p Se toman el delantero y el posterior y se empatan los costados de punta a punta y se cose a 1 cm del borde, como se ve en la Figura.

    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/3-tema/cierre_costados.jpg').img-fluid

    .header-ecored
        h2 
            span 3.2 Montar pretina

    p Se debe montar la pretina de la falda, alrededor de la cintura, dejando la pesta침a del borde para el cruce del bot칩n. Ver Figura.

    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/3-tema/pretina.jpg').img-fluid

    p Fuente im치genes 
        a(href="http://creacionesmarthacastillo.blogspot.com/2015/05/falda-con-tablas-en-el-corte.html", target="_blank") http://creacionesmarthacastillo.blogspot.com/2015/05/falda-con-tablas-en-el-corte.html