include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container      
    .header-ecored
        h1 
            span.number 4. 
            span Terminación o acabado

    p En esta etapa se realizan las actividades finales que permitirán presentar la falda terminada y disponer de ella para su uso, así:  


    .header-ecored
        h3 
            span 4.1 Coger el dobladillo

        p Previamente se debe planchar por el doblez, para verificar que todo el dobladillo quede del mismo ancho. El dobladillo de la falda, se debe hacer con costuras manuales, que no sean visibles. Ver Figura.

        .row.justify-content-center.align-items-center.my-5
            img(src='assets/images/pages/4-tema/dobladillo.jpg').img-fluid

    .header-ecored
        h3 
            span 4.2 Poner botón y hacer ojal

        p El botón de debe fijar en la extensión que se dejó en la pretina, para que al momento de apuntar la falda, la pestaña quede escondida entre la pretina.

        p El ojal, se hace sobre la parte de la pretina que quedó en la misma dirección horizontal, para que no se deforme la pretina. Ver Figura .

        .row.justify-content-center.align-items-center.my-5
            img(src='assets/images/pages/4-tema/boton_ojal.jpg').img-fluid


    .header-ecored
        h3 
            span 4.3 Planchado

        p Por último se deben planchar las costuras de los costados abiertos, como se ve en la Figura  14 y asentar las costuras de ruedo y pretina para dar por finalizado el proceso. 


        .row.justify-content-center.align-items-center.my-5
            img(src='assets/images/pages/4-tema/planchado.jpg').img-fluid

    section.card-border-bottom
        .card
            .card-body
                p.card-text Una vez desarrolladas estas actividades de acabado, ha terminado la confección de la falda clásica y si se ha cumplido a cabalidad con todos los pasos, se contará con una prenda de excelente calidad que con seguridad cumplirá las necesidades y expectativas del cliente. 

     
