include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container      
    .header-ecored
        h1 
            span.number 4. 
            span Terminación o acabado

    p En esta etapa se realizan las actividades finales que permitirán presentar la falda terminada y disponer de ella para su uso, así:

    .row.my-5
        .col
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


    section.card-border-bottom
        .card
            .card-body
                p.card-text Una vez desarrolladas estas actividades de acabado, ha terminado la confección de la falda clásica y si se ha cumplido a cabalidad con todos los pasos, se contará con una prenda de excelente calidad que con seguridad cumplirá las necesidades y expectativas del cliente. 
   
