include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container      
    .header-ecored
        h1 
            span.number 5. 
            span Normas de calidad en la confección.
    
    p En la industria de la confección se deben tener en cuenta varias formas  de revisión  de la prenda en el proceso de confección o en la prenda terminada. #[strong Algunos de esto aspectos pueden ser:]

    .header-ecored
        h2 
            span 5.1 Inspección de la prenda confeccionada:

    
    p A pesar de que la prenda se encuentre totalmente confeccionada, resulta impreciso hablar de producto final, ya que se realiza la inspección antes de realizar  algunas operaciones del proceso como el planchado, el ojalado y botonado y el refilado de la prenda. Esta actividad se puede calificar como una inspección de control de confección. 

    p 
        b Sin embargo, es posible realizar una comprobación más rigurosa antes de que la prenda salga a la venta o sea dispuesta para su uso, lo cual se puede designar inspección de producto terminado. 

    .row.justify-content-center.align-items-center.my-5
        img(src='assets/images/pages/5-tema/MF4-AUD-IMA-06.svg').img-fluid

    .header-arrow.my-5
        h3.text-center Los factores más relevantes para hacer control de calidad en confección pueden ser:

    ul.list-unstyled
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Medidas de las prendas
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Selección de prendas para desmanchar
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Puntadas interiores y exteriores. Costuras sueltas, bastas, etc.
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Hilos sin pulir
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Diferencia de tonos
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Reprocesos en la prenda
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Posición de la marquilla
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Revisión de la prenda por el derecho y el revés
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Colocación de botones, cierres, hebillas, encajes, ojales, bolsillos, etc.
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Clasificación de las prendas en primeras y segundas
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Imperfectos en tela
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Imperfectos en costura
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Perforaciones por aguja, tijeras, etc.
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Marcas con elementos inapropiados o señalización
        li.mb-4 
            i.fa.fa-angle-right.fa-lg.mr-3
            | Tonos

    .header-ecored
        h2 5.2 Inspección en la sección de planta: 

    p Esta operación se realiza durante el planchado,  para que la persona a cargo, vigile posibles manchas, sucios, cortes, falta de algún elemento de la prenda, defectos muy notorios, etc. Se debe instruir al operario sobre la importancia de verificar determinados detalles y aspectos generales, regresando la prenda al proceso necesario para corrección, si se detecta alguna anomalía.

    p La sección de plancha es en la que demanda mayor atención en la realización de un trabajo. La regulación correcta del calor, la humedad, la presión y el tiempo pueden dar lugar a planchados de muy variada calidad.

    p 
        b Una vez realizado este proceso, se puede confirmar que la prenda está lista para su disposición final.  




