include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container      
    .header-ecored
        h1 
            span Introducción
    .row.my-5
        .col
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/aRcvWsb5mUs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


    section.card-border-bottom
        .card
            .card-body
                p.card-text En el presente material de formación se presenta el orden operacional más adecuado para la confección de una falda clásica, cumpliendo con normas de calidad dispuestas para que la prenda una vez esté terminada, cumpla con las condiciones y atributos necesarios que permitan comodidad y satisfacción al momento de su uso.    






