.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Confecciones Industriales 
                td PDF
                td 
                    a(href="https://repositorio.sena.edu.co/bitstream/11404/4253/1/3818_control_de_calidad_en_la_confeccion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar



            