.container

  ol

    li
      p 
        | Chávez Escobar J. (2014) 
        i Confección de prendas de vestir, operatividad de máquinas de tejido plano. 
        | Nivel técnico operativo. Enlace directo: 
        a(href="http://www.ismontessori.edu.pe/repositorio-libros/carrera/2/diseño12.pdf ", target="_blank") http://www.ismontessori.edu.pe/repositorio-libros/carrera/2/diseño12.pdf 

    li
      p 
        | Gemma, L (2015) 
        i Corte y confección para Dummies.  
        | Centro de libros Papf, Grupo planeta. 

    li
      p 
        | Amaden-Crawford, C. (2014). 
        i Confección de moda: Técnicas básicas. 
        | vol. 1. Recuperado de 
        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co", target="_blank") https://ebookcentral-proquest-com.bdigital.sena.edu.co

    li
      p 
        | Weber, J. (2001).  
        i La ropa: Confección diseño y materiales.  
        | Recuperado de 
        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co ", target="_blank") https://ebookcentral-proquest-com.bdigital.sena.edu.co 