//Colores base del material de formación
$brand-color-dark: #FED97B;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #00A99A;


$brand-color-secondary: #E6E5E7;